# Pixi and environment files
.pixi
pixi.lock

# Nextflow working directory
work/
.nextflow/
.nextflow.log*

# Generated results and resources
results/
resources/database

# Log files
*.log

# Pipeline execution reports
pipeline_info/
trace.txt
report.html
timeline.html
dag.svg
